/*FIRST DELETE ALL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Main styling*/
html body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7 em;
}
a {
    color: #333;
    text-decoration: none;
}
h1, h2, h3 {
    padding-bottom: 20px;
}
p {
    margin: 10px 0;
}

/*UTILITIES*/
.container {
    margin: auto;
    max-width: 1000px;
    overflow: auto;
    padding: 0 20px;
}
.text-primary {
    color: coral;
}

/*navbar menu*/
#navbar {
    background: whitesmoke;
    color: #333;
}
#navbar h1 {
    float: left;
    padding: 20px;
}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current {
    border: 1px solid lightgray;
    color: coral;
}

/*#intro-image {
    float: center;
    width:100%;
    background: url(/images/ux-planet.jpeg) no-repeat center center/cover;
} */

/*Intro*/
#intro-text {
    height: 400px;
}
#intro-text h1 {
    float: left;
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 50px;
    overflow: hidden;
    font-size: 80px; 
    color: coral;
}

#intro-text .welcome-message {
    float: right;
    width: 70%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
#intro-text .welcome-message em {
    color:coral;
}

/*main*/

main section{
    float: left;
    width: 80%;
    height: 100%;
    text-align: left;
    padding: 50px;
    overflow: hidden;
}

main aside {
    float: right;
    width: 20%;
    height: 100%;
    text-align: left;
    padding: 50px 30px;
    overflow: hidden;
